<aside class="sidebar">
  <div class="sidebar__brand">
    <mat-icon class="sidebar__brand-icon">inventory</mat-icon>
    <span class="sidebar__brand-text">{{ appName }}</span>
  </div>

  <nav class="sidebar__nav">
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active"
          (click)="onNavClick()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </nav>

  <div class="sidebar__footer">
    <mat-divider />
    @if (auth.currentUser(); as user) {
      <div class="sidebar__profile">
        <div class="sidebar__avatar" aria-hidden="true">
          {{ userInitials(user.email) }}
        </div>
        <div class="sidebar__profile-info">
          <span class="sidebar__profile-name">{{ user.email }}</span>
          @if (user.roles.length) {
            <span class="sidebar__profile-role">{{ user.roles.join(', ') }}</span>
          }
        </div>
      </div>
    }
    <button mat-stroked-button class="sidebar__logout" type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
  </div>
</aside>
