<div class="data-table" [class.data-table--loading]="loading()">
  @if (loading()) {
    <app-table-skeleton
      [columns]="columns().length"
      [rows]="6"
      class="data-table__skeleton"
    />
  }

  <div class="data-table__scroll" [class.data-table__scroll--hidden]="loading()">
    <table mat-table [dataSource]="data()" matSort class="data-table__table">
      @for (column of columns(); track column.key) {
        <ng-container [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable">
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let row">{{ getCellValue(row, column) }}</td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell data-table__empty" [attr.colspan]="displayedColumns().length">
          {{ emptyMessage() }}
        </td>
      </tr>
    </table>
  </div>
</div>
