<mat-sidenav-container class="main-layout">
  <mat-sidenav
    #drawer
    class="main-layout__sidenav"
    [mode]="sidenavMode()"
    [opened]="sidenavMode() === 'side'"
    [fixedInViewport]="isHandset()"
    [disableClose]="false"
  >
    <app-sidebar (navigate)="closeSidenavOnMobile()" />
  </mat-sidenav>

  <mat-sidenav-content class="main-layout__content">
    <app-top-navbar
      [pageTitle]="pageTitle()"
      [showMenuButton]="showMenuButton()"
      (menuToggle)="toggleSidenav()"
    />
    <main class="main-layout__page">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
